body {
  text-align: center;
  background-color: gray;
}

.header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
}
button{
}

.item-location{
display: flex;
  justify-content: space-between;
  padding: 10px;
}
.item{
  margin: 50px 50px 50px 50px;
  background-color: silver;
  padding: 50px;
}
.item-active{
  margin: 5px;
  background: darkseagreen ;
  border: greenyellow 1px solid;
}
.item-closed{
  margin: 5px;
  background: floralwhite ;
  border: darkgrey 1px solid;
  color: gray;
}
.button-location{
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}
.map{
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}
.card{
  width: 200px;
  height: 300px;
  border-radius: 12px;
  border: 5px solid ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: grab;
}